version: "3.9"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.frontend
    ports:
      - "5173:80"
    volumes: [] # Remove dev volumes
    environment: [] # Remove dev env vars
